.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}

.navbar {
    min-height:0px !important;
}

.navbar-index-custom {
    height: 60px;
}

body {
    background-color:black;
}

.home-cover {
    background-color: black;
    color:black;
    font-size:55px;
    background-image: url("https://picsum.photos/1920/350");
    margin-bottom:5px;
    min-height:0px !important;
}

@media only screen and (max-width: 959px) {
    .alumni-index {
    background-color:black;
    color:black;
    background-image: url("https://picsum.photos/1920/800");
    width:100%;
    height:80%;
    height: 100vh;
    margin-left:5%;
    margin-right:5%;
    text-align:center;
    display:inline-block;
    }
}        

.alumni-index {
    background-color:black;
    color:black;
    background-image: url("https://picsum.photos/1920/918");
    width:90%;
    height:80%;
    height: 100vh;
    margin-left:5%;
    margin-right:5%;
    text-align:center;
    display:inline-block;
}

.chevrons {
    padding-top: 57.5%;
    font-size: 250%;
    color:white;
}

.title {
    font-size: 55px;
}

.description {
    font-size: 20px;
    color:black;
}

.top-home-page {
    font-size: 55px;
    text-align:center;
    vertical-align:middle;
    padding-bottom:10px;
}

.container-styles {
    width:91.5%;
    max-width:100%;
}

.container-styles-alumni {
    width:100%;
    max-width:105%;
}