    * {
        font-family:Arial;
    }

    body {
        background-color:gray;
    }
    nav {
        color:Gold;display:inline; font-size: 35px;
    }
    
    p {
        color:#e3ab12;
    }

    .bckground {
        background-color:#9b9e9c;
    }
    
    .nav-pill {
        background-color:;
    }